<br>
<div class="container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3>My Lists</h3>
    <%= link_to 'Create new list', new_list_path, class: 'btn btn-flat' %>
  </div>

<br>
<h1>Lists</h1>
<br>
<% @lists.each do |list| %>
<h5> <%=link_to list.name, list %><h5>
<% end %>
